.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .align-left{
    display: flex !important;
    justify-content: left !important;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .responsive-image {
    width: 100%;  
    height: auto;  
    display: block;
    margin: auto;  
    max-height: 200vh;  
  }
  .responsive-text-b {
    font-size: clamp(1rem, 5.5vw, 2rem);  /* Adjust values as needed */
    color: #312A2A;
}
  .responsive-text-m {
    font-size: clamp(1rem, 5.5vw, 1.2rem);   /* Adjust the number based on desired size */
  }
  .responsive-text-s {
    font-size: clamp(1rem, 4vw, 0.9rem);   /* Adjust the number based on desired size */
  }
  