.Main_header{
    align-items: start;
    background-color: #FFF !important;
    
    
}
.gradient_background {
    background: linear-gradient(#FFFFFF, #fafaff);
    height: 100vh;
    width: 100vw;
}
  
.resizable-image {
    max-width: 100%;
    height: auto; /* Maintain the aspect ratio */
}
.waiter-image {
    width: 80px;
    height: 80px;
}
.tablet-image {
    width: 150px;
    height: auto;
}
.pay-image{
    width: 200px;
    height: auto;
}

.container {
    width: 100%;
    padding: 16px;
  }
  
  /* Tablet */
  @media (min-width: 768px) {
    .container {
      width: 80%;
    }
  }
  
  /* Desktop */
  @media (min-width: 992px) {
    .resizable-image {
      max-width: 400px; /* or adjust to your preferred maximum size for desktop */
    }
  }