.Section1{
    padding: 10px;
    background-color:#FFFFFF;
    min-width: 100vw;
}
.Section2{
    padding: 10px;
    background-color:#FFFFFF;
    min-width: 100vw;
}
.Section3{
    padding: 10px;
    background-color: #FFFFFF;
    min-width: 100vw;
}
.Section4{
    padding: 10px;
    background-color: #FFFFFF;
    min-width: 100vw;

}
.Section5{
    padding: 10px;
    background-color: #FFFFFF;
    min-width: 100vw;

}
.InfoSection{
    padding: 10px;
    background-color: #373737;
    min-width: 100vw;
}
